
<!-- css for toggle button -->
<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    </style>

<%- include('header') -%>

    <section id="navigation">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href=""> <i class="fas fa-stopwatch"></i>MEDICARE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Check Now
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Your Progress</a></li>
                            <li><a class="dropdown-item" href="#">Order Online</a></li>
                            <li><a class="dropdown-item" href="#">Reminders</a></li>
                            <li><a class="dropdown-item" href="#">Explore</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login">
                            <img alt="My account" src="images/iconmonstr-user-circle-thin-240.png" height="35" width="35">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Hello <%= signinData.name %> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>


    <!-- <section style="margin: 3rem 5rem;"> -->
        <section id="start">
           
        <h2 style="font-family: 'Montserrat';font-size: 2.5rem;text-align-last: center;
        line-height: 2 "><b>Select your medicines</b></h2>
     
  
        <form action="/set/<%= signinData._id %>" method="post" >
          
              
            <div class="input-group rounded mb-5 px-5 "  >
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-1"  id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h2 style="font-family: 'Montserrat';font-size: 2.5rem;text-align-last: center;
              line-height: 2; padding-top: 0%;"><b>Select your Time</b></h2>
   

              
            <!-- <input type="text" placeholder="Medicine name" name="medi_name" required>
            <label for="morning">morning</label>
            <input type="checkbox" value="morning" name="morning"> -->

            <!-- <label for="afternoon">afternoon</label>
            <input type="checkbox" value="afternoon" name="afternoon">

            <label for="night">night</label>
            <input type="checkbox" value="night" name="night"> -->

             <!-- <button type="submit">Add</button>  -->
             <!-- Rectangular switch -->
            
  <!-- Rounded switch -->
        <div class="box">

             <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
             </label>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>
       

        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
        </label>
    </div>
</div>
        </form>
   
  
    </section>
    <!-- </section> -->

    <section class="container">
        <table class="table  table-hover table-bordered styled-table" style="background-color: #eee;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%">#</th>
                        <th scope="col" style="width: 30%">Medicine</th>
                        <th scope="col" style="width: 20%">Morning</th>
                        <th scope="col" style="width: 20%">Afternoon</th>
                        <th scope="col" style="width: 20%">Night</th>
                        <th scope="col" style="width: 5%">Remove</th>
                    </tr>
                </thead>
                <tbody>

                    <% var i=1;%>
                        <% medicineData.forEach(function(data){%>

                            <tr>
                                <th scope="row">
                                    <%=i; %>
                                </th>
                                <td>
                                    <%= data.medi_name %>
                                </td>
                                <td>
                                    <%= data.morning %>
                                </td>
                                <td>
                                    <%= data.afternoon %>

                                </td>
                                <td>
                                    <%= data.night %>

                                </td>
                                <td><a href="/<%= data._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i
                                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <% i++; }) %>
                </tbody>
        </table>
    </section>

    <%- include('footer') -%>