<%- include('header') -%>
    <section id="navigation">
        <!---nav bar section-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href=""> <i class="fas fa-stopwatch"></i>MEDICARE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Check Now
                         </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Your Progress</a></li>
                            <li><a class="dropdown-item" href="#">Order Online</a></li>
                            <li><a class="dropdown-item" href="#">Reminders</a></li>
                            <li><a class="dropdown-item" href="#">Explore</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login">
                            <img alt="My account" src="images/iconmonstr-user-circle-thin-240.png" height="35" width="35">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>


    <section style="margin: 3rem 5rem;">
        <form action="/set" method="post">
            <input type="text" placeholder="Medicine name" name="medi_name" required>
            <label for="morning">morning</label>
            <input type="checkbox" value="morning" name="morning">

            <label for="afternoon">afternoon</label>
            <input type="checkbox" value="afternoon" name="afternoon">

            <label for="night">night</label>
            <input type="checkbox" value="night" name="night">

            <button type="submit">Add</button>
        </form>
    </section>

    <section class="container">
        <table class="table table-hover table-bordered" style="background-color: #eee;">
            <thead>
                <tr>
                    <th scope="col" style="width: 5%">#</th>
                    <th scope="col" style="width: 30%">Medicine</th>
                    <th scope="col" style="width: 20%">Morning</th>
                    <th scope="col" style="width: 20%">Afternoon</th>
                    <th scope="col" style="width: 20%">Night</th>
                    <th scope="col" style="width: 5%">Remove</th>
                </tr>
            </thead>


            <tbody>

                <%    var i=1;%>
                    <%    userData.forEach(function(data){%>

                        <tr>
                            <th scope="row">
                                <%=i; %>
                            </th>
                            <td>
                                <%= data.medi_name  %>
                            </td>
                            <td>
                                <%= data.morning %>
                            </td>
                            <td>
                                <%= data.afternoon %>

                            </td>
                            <td>
                                <%= data.night %>

                            </td>
                            <td><a href="/delete/<%= data._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <%  i++; }) %>
            </tbody>

        </table>
    </section>

    <%- include('footer') -%>